body
{
    width:1100px;
    border: 3px solid pink;
    margin:auto;
    padding:20px;
    border-radius: 20px;
}

header
{
    text-align: center;
    font-family: cursive;
    text-shadow: 3px 3px #ffd700;
    font-family: cursive;
    font-size: 25px;
}

header img
{
    width:100px;
    height:100px;
    float:left;
}

nav
{
    text-align: center;
    background-color: #FFD700;
    font-family: cursive;
    font-size: 20px;
    padding: 10px 0px;
}

nav a
{
    padding: 0px 40px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

main
{
    width:700px;
    float: right;
    font-family: cursive;
    margin:10px 10px 10px 30px;
}

#welcome
{
    width:700px;
    overflow: auto;
}

p
{
    line-height: 25px;
    margin:10px 10px 25px 10px;
}

aside
{
    width:300px;
    float:left;
    font-family: cursive;
    margin:10px 20px;
}

aside h2
{
    background-image: linear-gradient(#FFD700,rgb(255, 255, 255));
    color:red;
}

aside ul
{
    list-style: square;
}

footer
{
    clear:both;
    text-align: center;
    background-color: #FFED85;
    font-size: 18px;
}